################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Back-end/.vs/Back-end
/Back-end/obj
/Front-end/.vscode
/Back-end/bin/Debug/net6.0
/Back-end/.vs/ProjectEvaluation
