################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Back-end/.vs/Back-end
/Back-end/obj
/Front-end/.vscode
/Back-end/bin/Debug/net6.0
/Back-end/.vs/ProjectEvaluation
/Back-end/.config
/Back-end/bin/Release/net6.0
/Back-end/Properties/PublishProfiles
/Back-end/.vs
/.vs/upwell-monitor/v17
/.vs
