p {
    margin: 0;
    font-family: 'Shentox', sans-serif; /* Use Shentox as the primary font */
    font-weight: 100;
    color: white;
    font-size: 20px;
}

.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: green; 
    --mdc-linear-progress-track-color: rgba(0, 0, 0, 0.342); 
}